@{
    ViewBag.Title = "404 not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-callout bs-callout-danger">
    <h4>404 не найдено</h4>
    <p>Во время выполнения запроса возникла ошибка. Запрашиваемый вами ресурс не найден или вам отказано в доступе. Пожалуйста, обратитесь в службу поддержки за дальнейшей информацией.</p>
</div>